<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>simple todo</title>
  </head>
  <body>
    <h1>My Cat Diaries</h1>

    <form action="/" method="get" class="search__container">
      <label for="searchInput">search: </label>
      <input type="text" name="searchTerm" id="searchInput" />
      <button>search</button>
    </form>

    <ul class="note__lists">
      <% notes.forEach(note => { %>
      <li>
        <h3><%= note.title %></h3>
        <p><%= note.contents.substring(0, 200) %>...</p>
        <p><%= new Date(note.timestamp) %></p>
        <a href="/notes/<%= note.id %>">view more</a>
      </li>
      <% }) %>
    </ul>

    <a href="/createNote">create new note...</a>
  </body>
</html>
