body {
  font-family: 'Courier New', Courier, monospace;
  max-width: 800px;
  margin: auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.search__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.note__lists {
  margin-top: 2rem;
  border-top: 2px solid red;
}
